<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User add</title>
</head>
<body>
<form action="#" method="POST" th:action="@{saveUser}" th:object="${user}">

  <input type="text" hidden name="id" th:field="${user.id}"/>

  Name <input type="text" name="name" th:field="${user.name}"/>
  <br>
  Hobby <input type="text" name="hobby" th:field="${user.hobby}"/>
  <br>
  <input type="submit" value="Ok">


</form>

</body>
</html>