<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>User page</title>
</head>
<body>
<h1><span th:utext="${user.username}"></span>, welcome spring boot security page!</h1>
<table border="1" cellpadding="5"
       style="border-collapse: collapse; border: 1px solid black;">
    <thead>
    <tr>
        <th>Username</th>
        <th>Hobby</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.hobby}"></td>
        <td>********</td>
    </tr>
    </tbody>
</table>
<br>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>